/* Import */

@import url(fonts.css);
@import url(vars.css);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT Lakes Regular', serif;
  overflow-x: hidden;
  min-width: 320px;
}

button {
  border: none;
  background: #fff;
  cursor: pointer;
  padding: 0;
}

ul,
li {
    list-style: none;
}

a {
  text-decoration: none;
  color: #1B1C21;
}

/* sidenav header */

.mobile-menu {
  background: var(--main-white);
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), 
              -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-menu__header {
  display: flex;
  padding: 18.73px 24px 0 24px;
  column-gap: 78.27px;
  align-items: center;  
  margin-bottom: 50.27px;
}

.mobile-menu__left-items {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.mobile-menu__back-btn {
  background: url(../images/icons/close-burger.svg);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.mobile-menu__logo {
  background: url(../images/icons/Group.svg);
  width: 97px;
  height: 51px;
}
.mobile-menu__search-btn {
  background: url(../images/icons/search.svg);
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}

.mobile-menu button:hover:not(.languages__item) {
  transform: scale(1.1);
  filter: drop-shadow(3px 2px 8px #ff3e79);
}

/* sidenav main */

.sidenav__links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-left: 24px;
  position: relative;
}

.sidenav__links::before {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 4px;
  height: 32px;
  background: var(--cyan-title);
  border-radius: 0px 6px 6px 0;
}

.sidenav__links-item {
  color: var(--black-text);
  font-family: 'TT Lakes Medium' , serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.sidenav__links-item:hover {
  transform: scale(1.03);  
}

.sidenav__links-item--current {
  color: var(--dark-grey);
}

.sidenav__links-item:last-child {
  margin-bottom: 32px;
}

/* sidenav footer */

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 0 32px 24px;
  margin-top: auto;
}

/* footer btns */

.footer__btns {
  display: flex;
  column-gap: 16px;
}
.footer__call-btn {
  background: url(../images/icons/call.svg);
  height: 40px;
  width: 40px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}
.footer__chat-btn {
  background: url(../images/icons/chat.svg);
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}

.footer__profile-btn {
  background: url(../images/icons/profile.svg);
  height: 40px;
  width: 40px;
  transition: all 0.3s ease;
}
/*  */

/* footer contacts */

.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__email {
  color: var(--black-text);
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}

.contacts__number {
  color: var(--black-text);
  font-family: 'TT Lakes Medium';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-bottom: 40px;
}

.contacts__number:hover {
  opacity: 0.8;
}
/*  */

/* footer langs */

.languages {
  display: flex;
  column-gap: 7px;
}
.languages__item {
  color: var(--black-text);
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  background: transparent;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.languages__item:not(.languages__item--current):hover {
  transform: translateY(-2px);
}

.languages__item--current {
  color: var(--dark-grey);
}
/*  */



